$primary_color: #1c1c1c;
$secondary_color: #0282f9;
$footer_color: #303030;
$accent_color_light: #ffffff;
$accent_color_dark: #787878;

$secondary_color_dark: #053859;
$comic_banner_dark: #55ba59;
$comic_banner_light: #9cea84;
$comic_bg: #f6f6f6;